<div class="main" dir="rtl">
    <div mat-dialog-content>
    <section>
        <header>
            <h1>הוראות שימוש:</h1>
        </header>
        <body>
            <p>מחשבון הטיפים נועד לעזור לכם לחשב את הטיפים בקלות ולחסוך זמן.</p>
            <p>בעזרת מחשבון הטיפים אפשר לחשב טיפים של מלצר אחד או של כמה מלצרים</p>
            <h3>חישוב טיפים של מלצר אחד</h3>
            <ol>
                <li>בשדה סהכ מזומן - מזינים את כמות הטיפים שספרנו</li>
                <li>בשדה שם מלצר - בוחרים את השם שלנו</li>
                <li>בשדה משעה עד שעה - בוחרים את שעת התחלת המשמרת ושעת סיום המשמרת</li>
                <li>לאחר שהזנו את המידע לוחצים על כפתור הוסף מלצר</li>
                <li>לאחר שלחצנו על כפתור הוסף מלצר נראה את המידע שהזנו מוצג בטבלה</li>
                <li>כעת נלחץ על כפתור - חשב טיפים </li>
            </ol>
            <h3>חישוב טיפים של כמה מלצרים</h3>
            <ol>
                    <li>בשדה סהכ מזומן - מזינים את כמות הטיפים שספרנו</li>
                    <li>בשדה שם מלצר - בחורים את שם המלצר שעבד איתנו במשמרת</li>
                    <li>בשדה משעה עד שעה - בוחרים את שעת תחילת המשמרת ושעת סיום המשמשרת של המלצר שבחרנו בשלב הקודם</li>
                    <li>לאחר שהזנו את המידע לוחצים על כפתור הוסף מלצר</li>
                    <li>כעת נראה את המידע שהזנו מופיע בטבלת החישוב</li>
                    <li> כדי להוסיף עוד מלצר חוזרים על הפעולות מהשלב  השני</li>
                    <li>לאחר שהוספנו את כל המלצרים נלחץ על כפתור - חשב טיפים </li>
            </ol>
            <h3>מה לעשות אם הזנתי משהו לא נכון</h3>
            <p>אם הזנתם לא נכון סה"כ מזומן,שם מלצר,שעת התחלה או סיום. ניתן לתקן זאת בדרכים הבאות:</p>
            <p>כדי לתקן מידע שגוי של מלצר שהזנו, לדוגמא: שעה לא נכונה או שם לא נכון. נלחץ על שם המלצר בטבלת חישוב הטיפים נמחק אותו ונזין אותו מחדש </p>
            <br>
            <p>אם הזנו לא נכון את כמות הטיפים פשוט נשנה לכמות הטיפים הנכונה</p>
            <p>את התיקונים הללו ניתן לישם גם לאחר שלחצנו על כפתור חשב טיפים.
                לאחר שנתקן את השגיאות שלנו נלחץ עוד הפעם על כפתור חשב טיפים והטיפים יחושבו בהתאם לשינויים
            </p>
        </body>
    </section>
</div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" mat-dialog-close (click)="onClick()">הבנתי</button>
    </div>
</div>