<div class="container">
    <h2 routerLink="/menu">menu</h2>
    <div class="stats">
      <span>Total Tips: {{totalTips}}&#x20AA;</span> - <span>perHour Avg: {{perHourAvg}}&#x20AA;</span>
    </div>
  <div class="dayLog" *ngFor="let tip of tips">
    <p>{{tip.date | date:'d/M/y'}}</p>
    <span>{{tip.name}}</span> - <span>{{tip.amount}}&#x20AA;</span> - 
    <span>{{tip.perHour}}&#x20AA;</span> - 
    <div>
      <span>{{tip.startTime}}</span> - <span>{{tip.endTime}}</span> -
      <span>{{tip.totalTime}} hours</span> - <span>{{tip.shiftCategory}}</span> 
    </div>
  </div>
</div>