/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  font-size: 62.5%;
}

body {
  direction: rtl;
  height: 100vh;
  margin: 0;
  background-color: #e0e0e0;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  color: #016270;
}

// Rule dosent work if put inside the component it belongs to (calculate-tips).
.mat-vertical-stepper-header .mat-step-icon {
  margin-left: 1.2rem;
}
