<div class="conatainer">
  <h2>Waitrs Book</h2>
  <p>{{todaysDate | date:'d/M/y'}}</p>
  <div class="genralData" appMinimize>
  <form (ngSubmit)="calculatePerHour(f.value)" #f="ngForm">
    <input type="numer" placeholder="Total Tips" name="totalTips" ngModel required> 
    <input type="number" placeholder="Total Hours" name="totalHours" ngModel required>
    <input type="numbe" placeholder="BarMan Precntage" name="barmanPrecentage" ngModel required>
    <button type="submit" [disabled]="!f.valid">Submit</button>
  </form>
  <button class="totalTipsHours">edit Total tips and hours</button>
</div>
  <div class="submitPerWaitr" *ngIf="initialSubmit">
    <span>barMan tip: {{barmanTip}}&#x20AA;</span> --
    <span>Per Hour: {{shekelsPerHour}}&#x20AA;</span>
    <p [ngClass]="{notEnoughTips:totalTip < 0}">total tip:{{totalTip}}&#x20AA;</p>
      <p class="notEnoughTips" *ngIf="totalTip < 0">NOT ENOUGH TIP!!</p>
    <div>
      <form (ngSubmit)="addWaitrTip(fw.value)" #fw="ngForm">
        <select name="name" ngModel>
          <option value="anton">Anton</option>
          <option value="oni">Oni</option>
        </select>
        <select name="shiftCategory" ngModel>
          <option value="morningShift">morning shift</option>
          <option value="middleShift">middle Shift</option>
          <option value="evningShift">evning shift</option>
        </select>
        <input type="time" placeholder="Hours" name="startTime" ngModel required>
        <input type="time" name="endTime" ngModel required>
        <button type="submit" [disabled]="!fw.valid">Submit</button>
      </form>
    </div>
  </div>
  <div class="waitrTip">
    <app-new-waitr-tip *ngFor="let waitrTip of todaysTips; let i = index" [waitrData]="waitrTip" [index]="i"></app-new-waitr-tip>
  </div>
</div>