@media screen and (min-width: 320px) and (max-width: 480px){
    input,select {
        outline: none;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 2px #016270;
        font-family: 'Gaegu', cursive;
        color:#016270;
        padding-left: 5px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 25px;
        background-color: transparent;
        width: 150px;
      }

      button{
        outline: none;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 2px #016270;
        font-family: 'Gaegu', cursive;
        color:#016270;
        padding-left: 5px;
        height: 40px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 25px;
        background-color: transparent;
        display: block;
        width: 100%;
      }

      .totalTipsHours{
        display: none;
      }

      .notEnoughTips{
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 2px red;
        color: red;
      }

      h2 {
        display: inline-block;
      }

}