<div dir="rtl" class="container">
  <div class="addTip" >
        <app-add-tip></app-add-tip>
        <img src="../../assets/line.jpg" alt="">
  </div>
  <div class="newTip"> 
       <!-- <app-new-tip *ngFor="let newTip of tips; let i = index" [tip]="newTip" [index]="i"></app-new-tip> -->
       <table>
         <thead>
           <tr>
             <th>תאריך</th>
             <th>משעה</th>
             <th>עד שעה</th>
             <th>סה"כ שעות</th>
             <th>סה"כ לשעה</th>
             <th>סה"כ מזומן</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let newTip of tips; let i = index" (click)="editDeleteTip(newTip, i)">
             <td>{{newTip.date | shortenDate}}</td>
             <td>{{newTip.startTime}}</td>
             <td>{{newTip.endTime}}</td>
             <td>{{newTip.totalTime}}</td>
             <td>{{newTip.perHour}}</td>
             <td>{{newTip.totalTip}}</td>
           </tr>
         </tbody>
       </table>
  </div>
</div>