@import '../sass/abstract/mixins';

.user-area{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

    &__logout{
        width: 70%;
        height: 50px;
        display: block;
        font-size: 3rem;
    
        @include responsive(break1){
            width: 40%;
            height: 50px;
            display: block;
        }
    }

}



