@import '../sass/abstract/mixins';

button{
    width: 40%;
    margin: auto;
    height: 50px;
    margin-top: 20%;
    display: block;

    @include responsive(phone){
        width: 70%;
        margin: auto;
        height: 50px;
        margin-top: 50%;
        display: block;
    }
}

