.container {
  width: 70%;
  margin: auto;
  
}

mat-label{
  font-size: 14px;
  display: block;
}

#endTime{
  margin-top: 20px;
}

.addWaitrButton{
  margin-top: 20px;
}

.addWaitrButton>button{
  width: 100%;
}

.totalTipsHours {
  display: none;
}

#endTimeLabel {
  margin-left: 200px;
}

#totalTip {
  display: inline-block;
}

mat-vertical-stepper {
  direction: ltr;
  background-color: #e0e0e0;
}

.addWaitrShiftHours{
  margin-top:10px;
  font-size: 14px;
  color: red;
}

.waitrAdded{
  margin-top:10px;
  font-size: 14px;
  color: green;
  text-align: center;
}

.calculateTipsStep{
  direction: rtl;
}



@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .firstStep{
    width: 100%;
    text-align: center;
  }
 
  .nextButton{
    margin-top: 20px;
  }
  
  .nextButton>button{
    width: 100%;
  }

  .totalTipsHours {
    display: none;
  }

  .calculateTipsBtn{
    width: 100%;
  }

  mat-spinner{
    margin: auto;
    margin-top: 50px;
  }

  mat-list{
    direction: rtl;
   
  }

  .mat-list-base .mat-list-item{
    font-size: 14px;
    height: 30px;
  }

  th.mat-header-cell{
    padding-left: 24px;
    text-align: center;
  }
  
  table{
    margin-top: 20px;
  }

  
}

@media screen and (max-width: 320px) {
 
  th.mat-header-cell{
    padding-left: 14px;
    text-align: center;
  }

  th.mat-header-cell:last-of-type{
    padding-right: 0;
  }

  .mat-list-base .mat-list-item{
    font-size: 12px;
    height: 20px;
  }

}