.container {
  width: 70%;
  margin: auto;
  
}

mat-label{
  font-size: 14px;
  display: block;
}

#endTime{
  margin-top: 20px;
}

.addWaitrButton{
  margin-top: 20px;
}

.addWaitrButton>button{
  width: 100%;
}

.totalTipsHours {
  display: none;
}

#endTimeLabel {
  margin-left: 200px;
}

#totalTip {
  display: inline-block;
}

mat-vertical-stepper {
  direction: ltr;
  background-color: #e0e0e0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .nextButton{
    margin-top: 20px;
  }
  
  .totalTipsHours {
    display: none;
  }

  .notEnoughTips {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 2px red;
    color: red;
  }

  h2 {
    display: inline-block;
  }

  .date {
    margin-top: 0;
  }

  #menu {
    margin-left: 100px;
  }

  img {
    height: 20px;
    width: 100%;
  }

  #endTimeLable {
    margin-right: 120px;
  }

  #totalTip {
    display: block;
  }

  table {
    text-align: center;
    /*position: absolute;
  right: 0;*/
    border-collapse: collapse;
  }

  .tipsTable>td,
  th {
    padding-left: 10px;
  }

  .sum {
    margin-top: 25px;
  }

  .loader {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
  }
}
