.container{
    font-size: 18px;
    width: 95%;
    margin: auto;
}

.stats{
    height: 500px;
    overflow: scroll
}

table{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

/* th{
    padding-left: 15px;
} */

.moneySummery{
    margin-top: 6%;
    font-size: 1.3rem;
}

span{
    display: block;
}

.highLightTip{
    color: white;
    background-color: #016270;
}