<div class="container">

  <div class="stats">
    <table dir="rtl" highLightSelection>
      <thead>
        <th>תאריך</th>
        <th *ngIf="!(state === 'myTips')">שם</th>
        <th>משעה</th>
        <th>עד שעה</th>
        <th>סה"כ שעות</th>
        <th>סה"כ לשעה</th>
        <th>סה"כ מזומן</th>
        <th>הפרשה לשעה למעסיק</th>
        <th>סה"כ הפרשה למעסיק</th>
      </thead>
      <tbody>
        <tr *ngFor="let tip of tips" >
          <td>{{tip.date | shortenDate}}</td>
          <td *ngIf="!(state === 'myTips')" >{{tip.name}}</td>
          <td>{{tip.startTime}}</td>
          <td>{{tip.endTime}}</td>
          <td>{{tip.totalTime}}</td>
          <td>{{tip.perHour}}</td>
          <td>{{tip.totalTip}}</td>
          <td>{{tip.taxPerHour}}</td>
          <td>{{tip.moneyToGoverment}}</td>
        </tr>
      </tbody>
    </table>
   
  </div>
<div dir="rtl" class="moneySummery">
    <button (click)="deleteTip()">מחק רישום</button>
  <span>סה"כ מזומן: {{totalTips}} ש"ח</span>
  <span>ממוצע לשעה:{{perHourAvg}} ש"ח</span>
</div>
</div>

