<div class="container">
<h3>מחק מלצר שלא עובד יותר</h3>  
   <form (ngSubmit)="deleteWorker(f.value)" #f="ngForm">
      <mat-form-field>
          <mat-select name="workers" ngModel>
            <mat-option *ngFor="let name of workersNames" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
        </mat-form-field>      
    <button type="submit" mat-raised-button color="warn">מחק</button>
  </form>
  <p *ngIf="deletedWaitr">{{deletedWaitr}} נמחק מהמערכת</p>
</div>


