<div class="container" dir="rtl">
  <div class="personalTips">
    <span id="myTotal">סה"כ טיפים שלי החודש: {{myTotalIncome}} ש"ח</span>
    <span> ממוצע שלי לשעה החודש: {{myTotalPerHourAvrg}} ש"ח</span>
    <span>ממוצע כללי לשעה החודש: {{perHourAvrg}} ש"ח</span>
  </div>
  <div class="showTips">
    <span style="text-decoration:underline" >הצג טיפים:</span>
    <form (ngSubmit)="onSubmit(f.value)" #f="ngForm"> 
      <input type="radio" value="myTips" name="whosTips" ngModel>טיפים שלי
      <input type="radio" value="allTips" name="whosTips" ngModel> טיפים של כולם
      <label for="month">בחר חודש:</label>
            <select dir="rtl" name="month" id="month" ngModel>
              <option value="0">ינואר</option>
              <option value="1">פברואר</option>
              <option value="2">מרץ</option>
              <option value="3">אפריל</option>
              <option value="4">מאי</option>
              <option value="5">יוני</option>
              <option value="6">יולי</option>
              <option value="7">אוגוסט</option>
              <option value="8">ספטמבר</option>
              <option value="9">אוקטובר</option>
              <option value="10">נובמבר</option>
              <option value="11">דצמבר</option>
            </select>
        
        <div class="form-group">
            <label for="year">הזן שנה:</label>
            <input type="number"  name="year" placeholder="2018,2019...." ngModel>
        </div>
        <button type="submit">הצג</button>
    </form>
  </div>
</div>
