@media screen and (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .personalTips {
    margin-top: 10%;
    text-align: center;
    font-size: 24px;
  }

  span {
    display: block
  }

  .buttons {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .buttons>button {
    margin-left: 5px;
  }

  mat-table {
    width: 90%;
    margin: auto;
  }

  .chooseDate {
    width: 90%;
    margin: auto;
    margin-top: 9%;
  }

  .chooseDate>button {
    margin-right: 20px;
    width: 90px;
    height: 45px;
  }

  .table-container {
    overflow: auto;
    height: 200px;

  }

  mat-form-field {
    width: 100px;
  }
}
