.main{
    direction: rtl;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
}

.logedIn{
    color: green;
    text-align: center;
}

.createUser{
    margin-top: 10px
}

@media screen and (min-width: 320px) and (max-width: 480px){
h1{
    font-size: 1.5em
}
}