<div class="main">
    <h1>כניסה למערכת</h1>
    <form (ngSubmit)="onSignIn(f)" #f="ngForm" dir="rtl">
        <mat-form-field>
            <input matInput type="text" name="userName"  placeholder="שם" required  ngModel >
          </mat-form-field>
     
          <mat-form-field>
              <input matInput type="password" name="password" placeholder="סיסמא" required ngModel>
            </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!f.valid">התחבר</button>
    </form>
    <button class="createUser" mat-button (click)="openRegisterDialog()">צור משתמש חדש</button>
    <p class="logedIn" *ngIf="seccessfullyLogedIn">התחברתה בהצלחה</p>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
  </div>