<div dir="rtl" class="container">
    <form (ngSubmit)="addTip(f.value)" #f="ngForm">
        <div>
            <label for="date">תאריך:</label>
            <label class="moveRight" for="totalTip">סה"כ מזומן</label>
        </div>

        <input type="date" id="date" name="date" ngModel required>
        <input type="number" id="totalTip" name="totalTip" ngModel required>

        <div>
            <label for="startTime">משעה</label>
            <label class="moveRight"for="endTime">עד שעה</label>
        </div>

        <input style="display:inline-block" type="time" name="startTime" ngModel required>
        <input style="display:inline-block" type="time" name="endTime" ngModel required>

        <input type="submit" [value]="state" [disabled]="!f.valid">
    </form>
    <div class="errorMessage">{{serverErrorMessage}}</div>
</div>