.container{
    width: 70%;
    margin: auto;
}

button{
    align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      color:#016270;
      font-size:1.5rem;
      letter-spacing:1px;
      outline:none;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 2px #016270;
      font-family: 'Gaegu', cursive;
      font-weight: bold;
      display: block;
      margin: auto;
}

#check{
    font-size:1rem;
    padding:0.5rem 0.5rem;
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 20px;

}

form{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    display: none;
}

.form-group{
    widows: 70%;
    margin: auto;
}

h1 {
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
}


p{
    font-size: 20px;
}

.money {
    font-size: 25px;
}

#year{
      width: 40%;
      background:transparent;
      color:#016270;
      letter-spacing:1px;
      outline:none;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 2px #016270;
      font-family: 'Gaegu', cursive;
      font-weight: bold;
}

.waitrsBookLog{
width: 80%;
margin: auto
}

.average{
    width: 80%;
    margin: auto;
    text-align: center;
}

.form-group{
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .container{
        width: 100%;
        margin: 0;
    }
    
    .waitrsBookLog{
        width: 100%;
        }
        
        .average{
            width: 100%;
            margin: 0;
            text-align: unset;
        }

        .form-group{
            text-align: unset;
        }

    button{
        align-self:center;
          background:transparent;
          padding:1rem 1rem;
          margin:0 1rem;
          color:#016270;
          font-size:1.5rem;
          letter-spacing:1px;
          outline:none;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
          border:solid 2px #016270;
          font-family: 'Gaegu', cursive;
          font-weight: bold;
          display: inline-block;
          
    }

    #check{
        font-size:1rem;
        padding:0.5rem 0.5rem;
        width: 40%;
        margin: auto;
        display: block;
        margin-top: 20px;

    }

    form{
        width: 70%;
        margin: auto;
        margin-top: 20px;
        display: none;
    }

    .form-group{
        widows: 70%;
        margin: auto;
    }

    h1 {
        display: inline-block;
        width: 100%;
        font-size: 1.5rem;
    }

    p{
        font-size: 20px;
    }

    .money {
        font-size: 25px;
    }

    #year{
          width: 40%;
          background:transparent;
          color:#016270;
          letter-spacing:1px;
          outline:none;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
          border:solid 2px #016270;
          font-family: 'Gaegu', cursive;
          font-weight: bold;
    }

}
