<div class="container">
  <div class="addTip">
    <h2>Add tip</h2>
        <form action="">
            <input type="date" placeholder="Date">
            <input type="number" placeholder="Tips amount">
            <input type="time">
            <input type="time">
            <select name="shiftType" >
              <option value="morningShift">morning shift</option>
              <option value="middleShift">middle shift</option>
              <option value="eveningShift">evening shift</option>
            </select>
            <input type="submit" value="Add tip">
        </form>
  </div>
 <img src="../../assets/line.jpg" alt="">
  <div>
    <app-new-tip *ngFor="let newTip of tips" [tip]="newTip"></app-new-tip>
  </div>
</div>