button{
    align-self:center;
      background:transparent;
      padding:1rem 1rem;
      margin:0 1rem;
      color:#016270;
      font-size:1.5rem;
      letter-spacing:1px;
      outline:none;
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 2px #016270;
      font-family: 'Gaegu', cursive;
      font-weight: bold;
}



@media screen and (min-width: 320px) and (max-width: 480px){
    .buttons{
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }

    button{
        width: 50%;
        margin: auto;
        display: block;
        margin-top: 20xp;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 50px;
        
    }
}